@use "../variables" as vars;

.okButtonClass {
  all: unset;
  background-color: transparent;
  border: none;
}

.okButtonClass:hover {
  background-color: lighten(vars.$bg, 5%)
}

.okButtonClassPrimary:hover {
  background-color: lighten(vars.$buttonPrimary, 5%)
}

.okButtonClassSelected {
  all: unset;
  background-color: vars.$buttonPrimary;
  border: none;
}

.screenshotButton {
  all: unset;
  background-color: vars.$buttonPrimary;
  color: vars.$fg;
  border-radius: vars.$buttonBorderRadius;
  padding: 4px 8px 4px 8px;
}

.screenshotButton:hover {
  background-color: lighten(vars.$buttonPrimary, 5%)
}

.trayIconButton {
  .toggle {
    all: unset;
    background-color: transparent;
    box-shadow: none;
  }

  &:hover {
    background-color: lighten(vars.$bg, 5%)
  }
}

.trayMenuButton {
  all: unset;
  background-color: transparent;
  color: vars.$fg;
  border-radius: vars.$buttonBorderRadius;
  padding: 4px 8px 4px 8px;

  .toggle {
    background-color: transparent;
    box-shadow: none;
  }

  &:hover {
    background-color: lighten(vars.$bg, 5%)
  }
}