@use "../variables" as vars;

.iconButtonClass {
  all: unset;
  background-color: transparent;
  border: none;
}

.iconButtonClass:hover {
  background-color: vars.$bgHover;
}

.iconButtonClassSelected {
  all: unset;
  background-color: vars.$primary;
  border: none;
}

.screenshotButton {
  all: unset;
  background-color: vars.$buttonPrimary;
  color: vars.$fg;
  border-radius: vars.$buttonBorderRadius;
  padding: 4px 8px 4px 8px;
}

.screenshotButton:hover {
  background-color: vars.$bgHover;
}

.trayIconButton {
  .toggle {
    all: unset;
    background-color: transparent;
    box-shadow: none;
  }

  &:hover {
    background-color: vars.$bgHover;
  }
}

.trayMenuButton {
  all: unset;
  background-color: transparent;
  color: vars.$fg;
  border-radius: vars.$buttonBorderRadius;
  padding: 4px 8px 4px 8px;

  .toggle {
    background-color: transparent;
    box-shadow: none;
  }

  &:hover {
    background-color: vars.$bgHover;
  }
}