@use "../variables" as vars;
@use "sass:color";

.mediaPlayersContainer {
  margin: 0 0 0 0;
}

.mediaPlayer {
  margin-top: 20px;
  background-color: vars.$bg;
  border: 2px solid color.adjust(vars.$bg, $lightness: 5%);
  border-radius: vars.$buttonBorderRadius;
  padding: 4px 12px 4px 12px;

  .seekContainer {
    margin: 10px 0 10px 0;
  }

  .seek {
    margin: 0 8px 0 8px;

    trough {
      background: color.adjust(vars.$bg, $lightness: 5%);
      min-height: 8px;
      border-radius: 8px;

      slider {
        color: vars.$primary;
        background: vars.$bg;
      }

      highlight {
        background: vars.$primary;
        border-radius: 8px;
      }
    }
  }
}