@use "../variables" as vars;
@use "sass:color";

.systemMenuVolumeProgress {
  all: unset;
  min-width: 200px;
  margin-right: 20px;
}

.systemMenuVolumeProgress trough {
  all: unset;
  background: color.adjust(vars.$bg, $lightness: 5%);
  min-height: 8px;
  border-radius: 16px;
}
.systemMenuVolumeProgress trough slider {
  all: unset;
}

.systemMenuVolumeProgress trough highlight {
  all: unset;
  min-width: 8px;
  border-radius: 16px;
  background: vars.$fg;
}
