.timerEntry {
  background-color: transparent;
  border: none;
  box-shadow: none;       /* GTK often uses shadows instead of border */
}

.timerEntry:focus {
  background-color: transparent;
  border: none;
  box-shadow: none;
}