@use "../variables" as vars;

.verse{
  border-color: transparent;
  border-radius: 16px;
}

.verseBox {
  padding: 20px;
}

// The gtk verse itself
verse {
  background-color: vars.$bg;
  border: 2px solid vars.$fg;
  border-radius: 4px;
  padding: 10px;
}

verse header {
  background-color: vars.$bg;
  color: vars.$fg;
  padding: 5px;
}

verse button {
  background-color: vars.$bg;
  color: vars.$fg;
}

verse grid label {
  background-color: vars.$bg;
  color: vars.$fg;
}

verse grid label.today {
  background-color: vars.$primary;
}
